@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  background: #000;
  color: #fff;
}

//for preload
.preload{
  @include fullabsolute(0,0,100%,100%,100);
  background: url("../images/preload-bg.jpg") center center no-repeat;
  background-size: cover;
  .animate-flower{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(opacity 4s linear);
    background: url("../images/preload-flower.jpg")  center center no-repeat;
    background-size: cover;
    &.fadenow{
      opacity: 1;
    }
  }
  .loading-num{
    position: absolute;
    right: 2.8rem;
    bottom: 10vh;
    width: 1.2rem;
    height: 0.6rem;
    @include transform(rotate(90deg));
    .num{
      width: .6rem;
      height: .6rem;
      display: inline-block;
      text-align: center;
    }
  }
}

.logo{
  @include size(2.46rem,0.53rem);
}

//for terms-pop
.terms-pop{
  .inner{
    @include size(7.42rem,10.83rem);
    background: url("../images/pop-bg.png") no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 0.9rem;
    background-position: -0.05rem 0;
  }
  .title{
    margin-bottom: 0.4rem;
    background: transparent;
    color: #343434;
    font-size: 0.52rem;
    padding: 0;
    font-weight: bold;
  }
  .pcontent{
    width: 6rem;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    .subtitle{
      display: inline-block;
      background: #090909;
      color: #fff;
      font-size: 0.3rem;
      font-weight: normal;
      padding: 0.04rem 0.2rem;
      margin-bottom: 0.1rem;
    }
    .des{
      color: #6b6b6b;
      font-size: 0.24rem;
      line-height: 1.8;
    }
    .tips-2{
      font-size: 0.2rem;
    }
    .product-name{
      color: #6b6b6b;
      font-size: 0.22rem;
    }
  }
  .btn-close{
    top: auto;
    bottom: 0.8rem;
    left: 50%;
    margin-left: -0.3rem;
    background: #343434;
    border-radius: 100%;
    @include size(0.6rem,0.6rem);
  }
}

.pin{
  opacity: 0;
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  @include size(100%,100%);
  box-sizing: border-box;
  overflow: hidden;
  @include transition(opacity 1s);
  //display: none;
  &.current{
    display: block;
    opacity: 1;
    z-index: 1;
  }
}


.btn{
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  height: 0.76rem;
  margin: 0 auto;
  font-size: 0.32rem;
  box-sizing: border-box;
  .tt{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    @include size(100%,100%);
    line-height: .68rem;
    background: #000;
    color: #fff;
    border: #fff 0.04rem solid;
    box-sizing: border-box;
    .times{
      font-size: 0.24rem;
    }
  }
}

//for loading
.loading-wrap{
  display: none;
}

//for wrapper
.wrapper{
  opacity: 0;
  @include fullabsolute(0,0,100%,100%,1);
}
.container{
  @include fullabsolute(0,0,100%,100%,10);
}



//for pin-landing
  //  setting animate time parameter
$ani-delay-1: 1000ms;
$ani-delay-2: 2000ms;
$ani-delay-3: 3000ms;
$ani-delay-4: 4000ms;
$ani-delay-5: 5000ms;
@keyframes overandover {
  0%{
    @include transform(translateY(2rem));
  }
  100%{
    @include transform(translateY(-4.8rem));
  }
}


/*
  For pin-fillform
*/
#pin-fillform{
  .msgbox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    background: rgba(0,0,0,0.8);
    color: #fff;
  }
  .title{
    font-size: 0.34rem;
    color: #fff;
    text-align: center;
    margin: 0.4rem auto;
    line-height: 1.5;
  }
  #form-contact{
    position: relative;
    z-index: 2;
    width: 80vw;
    margin: 0 auto;
    font-size: 0.26rem;
    color: #6b6b6b;
    .input-box{
      position: relative;
      margin-bottom: 0.3rem;
      text-align: center;
      input[type="text"],
      input[type="tel"],
      select{
        display: inline-block;
        width: 100%;
        padding: 0;
        font-size: 0.28rem;
        text-align: center;
        border: none;
        background: #fff;
        height: 0.8rem;
        line-height: 0.8rem;
      }
    }
    .select-box{
      position: relative;
      input[type="text"]{
        position: relative;
        z-index: 1;
      }
      select{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
      }
    }
    .input-box-city-district{
      .select-box{
        display: inline-block;
        width: 48%;
      }
    }
    .btn-submit{
      //margin-top: 0.6rem;
    }
    .input-box-validate-message-code{
      position: relative;
      background: #fff;
      height: 0.8rem;
      text-align: left;
      #input-validate-message-code{
        width: calc(100% - 2rem);
        display: inline-block;
      }
      .btn-get-msg-code{
        display: inline-block;
        position: absolute;
        top: 0.04rem;
        right: 0.04rem;
        width: 1.8rem;
        height: 0.72rem;
        line-height: 0.72rem;
        padding: 0 0.04rem;
        font-size: .26rem;
        background-size: 100% 100%;
        //height: 1rem;
        text-align: center;
        background: #000;
        color: #fff;
        //box-sizing: border-box;
        span{
          display: inline-block;
          font-size: 0.2rem;
        }
      }
    }
  }
  .foreground{
    position: absolute;
    left: 0.7rem;
    z-index: 1;
    bottom: -1.2rem;
    @include size(5.52rem,4.57rem);
  }
}
